#book-icon {
    height: 2rem;
}

#background {
    background-color: rgb(226, 218, 214);
}

#header {
    background-color: rgb(100, 130, 173);
}

#footer {
    background-color: rgb(100, 130, 173);
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.footer-text {
    color: rgb(245, 237, 237) !important; 
}

.header-text {
    color: rgb(245, 237, 237);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.username-text {
    color: rgb(245, 237, 237);
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.custom-btn {
    background-color: rgb(127, 161, 195) !important;
    border-color: rgb(226, 218, 214) !important;
    border-width: 2px !important;
    color: rgb(245, 237, 237) !important;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.author-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.summary-text {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2rem;
}

.comment-author {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
}

#comment {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
}

.comment-text {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
}

#review-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;   
    font-size: 2rem; 
}

#review-text {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.1rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  