#book-icon {
    height: 2rem;
}

#background {
    background-color: rgb(226, 218, 214);
}

#header {
    background-color: rgb(100, 130, 173);
}

#footer {
    background-color: rgb(100, 130, 173);
}

.footer-text {
    color: rgb(245, 237, 237) !important; 
}

.header-text {
    color: rgb(245, 237, 237);
    font-size: 2rem;
}

.btn {
    background-color: rgb(127, 161, 195) !important;
    border-color: rgb(226, 218, 214) !important;
    border-width: 2px !important;
    color: rgb(245, 237, 237) !important;
}