<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Summarizer</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <form method="POST" action="/summary">
        <textarea name="url" placeholder="Enter in URL"></textarea>
        <button type="submit">OK</button>
    </form>

    <% if (locals.summary) { %>
        <p><%= summary.title %></p>
        <p><%= summary.description %></p>
        <img src="<%= summary.image %>" alt="logo of <%= summary.title %>">
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>