<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- JS Output -->
    <%= variable %> 

    <!-- JS Execute -->
     <% console.log("hello"); %>

    <!-- Render HTML -->
    <%- <h1>Hello</h1> %>

    <!-- Show <% or %> -->
    <%% %%>

    <!-- Stop Execution -->
    <%# This is a comment %>

    <!-- Insert another EJS file -->
     <%- include("header.ejs") %>

     <!-- To check if a variable exists -->
      <% if (locals.fruits) { %>
        <% // do somthing %>
      <% } %>

      <!-- You have to render ejs files and can't do sendFile() !important -->
</body>
</html>